<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
      <!--Application config-->
      <add key="RemoteConectionTimeout" value="60" />
      <add key="InventarioAddress" value="https://domain.com/inventario" />
      <add key="VendasAddress" value="https://domain.com/vendas" />
      <add key="AuthenticationUsername" value="teste" />
      <add key="AuthenticationPassword" value="teste" />
      <add key="AuthenticationSecret" value="TESTEr3FDr!J1O#pkqZTaUk8{iR_0LVy" />
    </appSettings>
</configuration>